* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppiens", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}

html {
  font-size: 60%;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.logo sapan {
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
  font-size: 1.6rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

section {
  min-height: 100%;
  padding: 10rem 12% 10rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

span {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.home-img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.home-img img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.social-icon {
  padding-top: 3rem;
  font-size: 10px;
}
.social-icon a {
  font-size: 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social-icon a:hover {
  transform: scale(1.2) translateY(-10px);
  -webkit-transform: scale(1.2) translateY(-10px);
  -moz-transform: scale(1.2) translateY(-10px);
  -ms-transform: scale(1.2) translateY(-10px);
  -o-transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25rem var(--main-color);
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2x solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 2px solid transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

.text-animation {
  font-size: 15px;
  font-weight: 600;
  min-width: 240px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
  -webkit-animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
  -webkit-animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Frontend Designer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "UI / UX Designer";
  }
  61%,
  80% {
    content: "Web Developer";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.heading {
  font-size: 4.5rem;
  text-align: center;
  margin: 5rem 0;
}
.tentangSaya {
  padding: 100px 15px;
  background-color: var(--second-bg-color);
}

.tentangSaya h2 {
  margin-bottom: 5rem;
}

.tentangSaya p {
  font-size: 15px;
  text-align: justify;
  padding: 5px 90px;
  text-indent: 20px;
  color: white;
  font-weight: 200;
  line-height: 30px;
}

.karya {
  background-color: var(--bg-color);
  color: black;
  padding: 60px;
}

.karya h2 {
  margin-bottom: 5rem;
  color: white;
}

.karya-container {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-wrap: wrap;
  margin-top: 70px;
}

.karya-card {
  background-color: var(--second-bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 15px var(--main-color);
  color: white;
  width: 270px;
  height: 330px;
  margin: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.karya-card img {
  width: 100%;
  height: auto;
  padding: 20px 8px;
  border: 2px solid var(--second-bg-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.karya-card:hover {
  background: white;
  color: black;
  transition: 0.3s ease-in-out;
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.karya-info {
  padding: 10px;
}

.karya-info h3 {
  padding-top: 10px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2;
}

.karya-info p {
  font-size: 1rem;
  font-weight: 400;
  max-height: 100px;
  margin: auto;
}

.contact {
  background-color: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: white;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 3rem auto;
  text-align: center;
}

.input-group {
  margin-top: 10px;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
}

.contact .btn-contac {
  display: inline-block;
  padding: 1.3rem 30rem;
  background: green;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.contact .btn-contac:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  box-shadow: 0 0 30px green;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}

.footer,
.social {
  text-align: center;
  margin-bottom: 20px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  -webkit-transform: scale(1.2) translateY(-10px);
  -moz-transform: scale(1.2) translateY(-10px);
  -ms-transform: scale(1.2) translateY(-10px);
  -o-transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}
